<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  @if(!isCameraOpen){
  <ion-button (click)="startCamera()">
    open Camera
  </ion-button>
  }

  <ion-fab slot="fixed" horizontal="center" vertical="bottom">
    @if(!isRecording){
    <ion-button (click)="startRecording()">
      Start
    </ion-button>
    }@else{
    <ion-button (click)="stopRecording()">
      Stop
    </ion-button>
    }
  </ion-fab>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button (click)="flip()">
      Flip
    </ion-fab-button>
  </ion-fab>
</ion-content>